:root{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
main{
    width: 80%;
    margin:auto;
}
.grey{
    color: grey;
}
.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.col-6{
    width: 50%;
}
.heading{
    width: 50%;
}
@media only screen and (max-width: 790px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;

    }

    .heading{
        width: 100%;
        margin:auto;
    }
}

.center{
    display: flex;
    justify-content: center;
}

.p-3{
    padding: 3rem;
}
.p-2{
    padding: 2rem;
}

.image{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form > div{
    padding: .8rem;
}